@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:600");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Neue Haas Grotesk Text Pro-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/60570718477be2ef894ed429/fonts/nhaasgrotesktxpro-55rg.ttf") format("truetype");
}
@font-face {
  font-family: "Neue Haas Grotesk Text Pro-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/60570718477be2ef894ed429/fonts/nhaasgrotesktxpro-55rg.ttf") format("truetype");
}
@font-face {
  font-family: "Neue Haas Grotesk Text Pro-55Roman";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/601d5748f1e2d6422d0d0d38/fonts/nhaasgrotesktxpro-55rg.otf") format("opentype");
}
:root {
  --condesa-fluid-white: rgba(244, 241, 224, 1);
  --colorsbackgroundslight: rgba(245, 245, 245, 1);
  --colorsbackgroundsdark: rgba(15, 15, 15, 1);
  --body-copy-font-family: "Inter-SemiBold", Helvetica;
  --body-copy-font-weight: 600;
  --body-copy-font-size: 16px;
  --body-copy-letter-spacing: 0px;
  --body-copy-line-height: 24px;
  --body-copy-font-style: normal;
  --header-2-font-family: "Inter-Black", Helvetica;
  --header-2-font-weight: 900;
  --header-2-font-size: 24px;
  --header-2-letter-spacing: 0px;
  --header-2-line-height: 24px;
  --header-2-font-style: normal;
  --footer-links-font-family: "Inter-Regular", Helvetica;
  --footer-links-font-weight: 400;
  --footer-links-font-size: 14px;
  --footer-links-letter-spacing: 0px;
  --footer-links-line-height: 28px;
  --footer-links-font-style: normal;
  --footer-header-font-family: "Inter-Black", Helvetica;
  --footer-header-font-weight: 900;
  --footer-header-font-size: 16px;
  --footer-header-letter-spacing: 0px;
  --footer-header-line-height: 28px;
  --footer-header-font-style: normal;
  --menu-desktop-font-family: "Inter-SemiBold", Helvetica;
  --menu-desktop-font-weight: 600;
  --menu-desktop-font-size: 40px;
  --menu-desktop-letter-spacing: 0px;
  --menu-desktop-line-height: 24px;
  --menu-desktop-font-style: normal;
  --header-1-desktop-font-family: "AntiqueOlive Compact-Regular", Helvetica;
  --header-1-desktop-font-weight: 400;
  --header-1-desktop-font-size: 319px;
  --header-1-desktop-letter-spacing: -20px;
  --header-1-desktop-line-height: 381.5px;
  --header-1-desktop-font-style: normal;
  --header-1-mobile-font-family: "AntiqueOlive Compact-Regular", Helvetica;
  --header-1-mobile-font-weight: 400;
  --header-1-mobile-font-size: 62px;
  --header-1-mobile-letter-spacing: -3px;
  --header-1-mobile-line-height: 62px;
  --header-1-mobile-font-style: normal;
  --menu-mobile-font-family: "NeueHaas Grotesk Text Pro-55Roman", Helvetica;
  --menu-mobile-font-weight: 400;
  --menu-mobile-font-size: 24px;
  --menu-mobile-letter-spacing: 0px;
  --menu-mobile-line-height: 30.719999313354492px;
  --menu-mobile-font-style: normal;
  --men-punkte-mobile-font-family: "NeueHaas Grotesk Text Pro-55Roman", Helvetica;
  --men-punkte-mobile-font-weight: 400;
  --men-punkte-mobile-font-size: 32px;
  --men-punkte-mobile-letter-spacing: 0px;
  --men-punkte-mobile-line-height: 60.70000076293945px;
  --men-punkte-mobile-font-style: normal;
  --body-mobile-font-family: "NeueHaas Grotesk Text Pro-55Roman", Helvetica;
  --body-mobile-font-weight: 400;
  --body-mobile-font-size: 16px;
  --body-mobile-letter-spacing: 0px;
  --body-mobile-line-height: 20px;
  --body-mobile-font-style: normal;
  --body-link-mobile-font-family: "NeueHaas Grotesk Text Pro-55Roman", Helvetica;
  --body-link-mobile-font-weight: 400;
  --body-link-mobile-font-size: 16px;
  --body-link-mobile-letter-spacing: 0px;
  --body-link-mobile-line-height: 20px;
  --body-link-mobile-font-style: normal;
  --header-2-mobile-font-family: "Inter-SemiBold", Helvetica;
  --header-2-mobile-font-weight: 600;
  --header-2-mobile-font-size: 38px;
  --header-2-mobile-letter-spacing: 0px;
  --header-2-mobile-line-height: 44px;
  --header-2-mobile-font-style: normal;
  --servicepaket-header-2-mobile-font-family: "NeueHaas Grotesk Text Pro-75Bold", Helvetica;
  --servicepaket-header-2-mobile-font-weight: 700;
  --servicepaket-header-2-mobile-font-size: 22px;
  --servicepaket-header-2-mobile-letter-spacing: 0px;
  --servicepaket-header-2-mobile-line-height: 20px;
  --servicepaket-header-2-mobile-font-style: normal;
  --servicepaket-body-mobile-font-family: "NeueHaas Grotesk Text Pro-55Roman", Helvetica;
  --servicepaket-body-mobile-font-weight: 400;
  --servicepaket-body-mobile-font-size: 18px;
  --servicepaket-body-mobile-letter-spacing: 0px;
  --servicepaket-body-mobile-line-height: 20px;
  --servicepaket-body-mobile-font-style: normal;
  --menupunkte-header-desktop-font-family: "Inter-Regular", Helvetica;
  --menupunkte-header-desktop-font-weight: 400;
  --menupunkte-header-desktop-font-size: 30px;
  --menupunkte-header-desktop-letter-spacing: 0px;
  --menupunkte-header-desktop-line-height: 24px;
  --menupunkte-header-desktop-font-style: normal;
  --condesa-fluid-inter-semi-bold-28-84-font-family: "Inter-SemiBold", Helvetica;
  --condesa-fluid-inter-semi-bold-28-84-font-weight: 600;
  --condesa-fluid-inter-semi-bold-28-84-font-size: 28.839841842651367px;
  --condesa-fluid-inter-semi-bold-28-84-letter-spacing: 0px;
  --condesa-fluid-inter-semi-bold-28-84-line-height: 38.54999923706055px;
  --condesa-fluid-inter-semi-bold-28-84-font-style: normal;
  --condesa-fluid-inter-semi-bold-28-71-font-family: "Inter-SemiBold", Helvetica;
  --condesa-fluid-inter-semi-bold-28-71-font-weight: 600;
  --condesa-fluid-inter-semi-bold-28-71-font-size: 28.714452743530273px;
  --condesa-fluid-inter-semi-bold-28-71-letter-spacing: 0px;
  --condesa-fluid-inter-semi-bold-28-71-line-height: 38.54999923706055px;
  --condesa-fluid-inter-semi-bold-28-71-font-style: normal;
  --variable-collection-primary-orange: rgba(235, 80, 39, 1);
  --variable-collection-background: rgba(244, 241, 224, 1);
  --variable-collection-primary-dark: rgba(1, 53, 89, 1);
  --variable-collection-accent-1: rgba(113, 170, 178, 1);
  --variable-collection-accent-2: rgba(158, 185, 192, 1);
  --variable-collection-accent-1-light: rgba(193, 225, 233, 1);
  --variable-collection-accent-orange-dark: rgba(227, 103, 75, 1);
  --variable-collection-accent-orange-mid: rgba(247, 186, 173, 1);
  --variable-collection-accent-orange-light: rgba(247, 186, 173, 0.46);
  --variable-collection-primary-background: rgba(255, 244, 242, 0.46);
  --variable-collection-accent-purple-dark: rgba(80, 71, 139, 1);
  --variable-collection-accent-purple-mid: rgba(128, 113, 217, 1);
  --variable-collection-accent-purple-light: rgba(170, 158, 246, 1);
  --variable-collection-primary-background-1: rgba(250, 245, 244, 1);
}

.home-mobile {
  background-color: #faf5f4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-mobile .div {
  background-color: var(--variable-collection-primary-background-1);
  width: 393px;
  height: 2124px;
  position: relative;
}

.home-mobile .overlap {
  position: absolute;
  width: 393px;
  height: 226px;
  top: 1848px;
  left: 0;
}

.home-mobile .padding-bottom {
  position: absolute;
  width: 393px;
  height: 24px;
  top: 189px;
  left: 0;
  background-color: var(--variable-collection-primary-background-1);
}

.home-mobile .footer-menu {
  display: flex;
  flex-direction: column;
  width: 345px;
  height: 226px;
  align-items: flex-start;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 24px;
  background-color: var(--variable-collection-primary-dark);
  border-radius: 30px;
}

.home-mobile .text-wrapper {
  position: relative;
  width: 165px;
  margin-top: -1px;
  font-family: "Neue Haas Grotesk Text Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 32px;
}

.home-mobile .text-wrapper-2 {
  position: relative;
  width: 165px;
  font-family: "Neue Haas Grotesk Text Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 32px;
  text-decoration: underline;
}

.home-mobile .text-wrapper-3 {
  position: relative;
  width: 165px;
  margin-bottom: -5px;
  font-family: "Neue Haas Grotesk Text Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 32px;
  text-decoration: underline;
}

.home-mobile .testimonial {
  display: flex;
  flex-direction: column;
  width: 345px;
  height: 336px;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 41px 20px;
  position: absolute;
  top: 763px;
  left: 24px;
  background-color: var(--variable-collection-accent-purple-mid);
  border-radius: 30px;
}

.home-mobile .main-article-section {
  position: relative;
  width: 304px;
  height: 43.13px;
  margin-top: -3.79px;
  color: #ffffff;
  font-size: var(--header-2-mobile-font-size);
  line-height: var(--header-2-mobile-line-height);
  font-family: var(--header-2-mobile-font-family);
  font-weight: var(--header-2-mobile-font-weight);
  letter-spacing: var(--header-2-mobile-letter-spacing);
  white-space: nowrap;
  font-style: var(--header-2-mobile-font-style);
}

.home-mobile .p {
  position: relative;
  width: 304px;
  height: 176.45px;
  margin-bottom: -1.79px;
  font-family: "Neue Haas Grotesk Text Pro-55Roman", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.home-mobile .ber-aerostep {
  position: absolute;
  width: 349px;
  height: 355px;
  top: 1139px;
  left: 24px;
}

.home-mobile .overlap-group {
  position: relative;
  width: 345px;
  height: 355px;
  background-color: #ffffff;
  border-radius: 30px;
}

.home-mobile .main-article-section-2 {
  position: absolute;
  width: 304px;
  height: 200px;
  top: 76px;
  left: 20px;
  font-family: "Neue Haas Grotesk Text Pro-55Roman", Helvetica;
  font-weight: 400;
  color: #013559;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.home-mobile .main-article-section-3 {
  position: absolute;
  width: 304px;
  height: 44px;
  top: 20px;
  left: 20px;
  font-family: var(--header-2-mobile-font-family);
  font-weight: var(--header-2-mobile-font-weight);
  color: #013559;
  font-size: var(--header-2-mobile-font-size);
  letter-spacing: var(--header-2-mobile-letter-spacing);
  line-height: var(--header-2-mobile-line-height);
  font-style: var(--header-2-mobile-font-style);
}

.home-mobile .mehr-erfahren-button {
  position: absolute;
  width: 162px;
  height: 35px;
  top: 289px;
  left: 20px;
}

.home-mobile .angebot-tile {
  position: absolute;
  width: 353px;
  height: 313px;
  top: 410px;
  left: 24px;
}

.home-mobile .overlap-2 {
  position: absolute;
  width: 355px;
  height: 263px;
  top: 0;
  left: 0;
}

.home-mobile .rectangle {
  position: absolute;
  width: 345px;
  height: 220px;
  top: 43px;
  left: 0;
}

.home-mobile .group {
  position: absolute;
  width: 113px;
  height: 111px;
  top: 0;
  left: 242px;
}

.home-mobile .main-article-section-wrapper {
  position: relative;
  width: 111px;
  height: 111px;
  background-image: url(https://c.animaapp.com/1V8tzb72/img/main---article---section---svg-1.svg);
  background-size: 100% 100%;
}

.home-mobile .main-article-section-4 {
  position: absolute;
  width: 71px;
  height: 40px;
  top: 35px;
  left: 20px;
  color: var(--condesa-fluid-white);
  font-size: var(--condesa-fluid-inter-semi-bold-28-84-font-size);
  text-align: center;
  line-height: var(--condesa-fluid-inter-semi-bold-28-84-line-height);
  font-family: var(--condesa-fluid-inter-semi-bold-28-84-font-family);
  font-weight: var(--condesa-fluid-inter-semi-bold-28-84-font-weight);
  letter-spacing: var(--condesa-fluid-inter-semi-bold-28-84-letter-spacing);
  white-space: nowrap;
  font-style: var(--condesa-fluid-inter-semi-bold-28-84-font-style);
}

.home-mobile .img {
  position: absolute;
  width: 186px;
  height: 40px;
  top: 273px;
  left: 0;
}

.home-mobile .intro-text {
  position: absolute;
  width: 345px;
  height: 180px;
  top: 213px;
  left: 24px;
  font-family: "Neue Haas Grotesk Text Pro-55Roman", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-primary-dark);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.home-mobile .header {
  position: absolute;
  width: 337px;
  height: 101px;
  top: 96px;
  left: 32px;
  font-family: var(--header-1-mobile-font-family);
  font-weight: var(--header-1-mobile-font-weight);
  color: var(--variable-collection-primary-dark);
  font-size: var(--header-1-mobile-font-size);
  letter-spacing: var(--header-1-mobile-letter-spacing);
  line-height: var(--header-1-mobile-line-height);
  font-style: var(--header-1-mobile-font-style);
}

.home-mobile .partner-werden {
  position: absolute;
  width: 373px;
  height: 293px;
  top: 1514px;
  left: 1px;
}

.home-mobile .overlap-3 {
  position: absolute;
  width: 369px;
  height: 238px;
  top: 0;
  left: 0;
}

.home-mobile .rectangle-2 {
  position: absolute;
  width: 345px;
  height: 220px;
  top: 18px;
  left: 24px;
}

.home-mobile .overlap-group-wrapper {
  position: absolute;
  width: 127px;
  height: 108px;
  top: 0;
  left: 0;
}

.home-mobile .div-wrapper {
  position: relative;
  width: 125px;
  height: 108px;
  background-image: url(https://c.animaapp.com/1V8tzb72/img/main---article---section---svg.svg);
  background-size: 100% 100%;
}

.home-mobile .main-article-section-5 {
  position: absolute;
  width: 119px;
  height: 30px;
  top: 39px;
  left: 3px;
  font-family: var(--condesa-fluid-inter-semi-bold-28-71-font-family);
  font-weight: var(--condesa-fluid-inter-semi-bold-28-71-font-weight);
  color: var(--condesa-fluid-white);
  font-size: var(--condesa-fluid-inter-semi-bold-28-71-font-size);
  text-align: center;
  letter-spacing: var(--condesa-fluid-inter-semi-bold-28-71-letter-spacing);
  line-height: var(--condesa-fluid-inter-semi-bold-28-71-line-height);
  white-space: nowrap;
  font-style: var(--condesa-fluid-inter-semi-bold-28-71-font-style);
}

.home-mobile .button-vorlage-copy {
  position: absolute;
  width: 185px;
  height: 40px;
  top: 253px;
  left: 188px;
}

.home-mobile .group-2 {
  position: absolute;
  width: 390px;
  height: 94px;
  top: 0;
  left: 1px;
}

.home-mobile .group-3 {
  position: relative;
  width: 356px;
  height: 50px;
  top: 44px;
  left: 19px;
}

.home-mobile .overlap-group-2 {
  position: absolute;
  width: 165px;
  height: 39px;
  top: 10px;
  left: 0;
}

.home-mobile .text {
  position: absolute;
  width: 165px;
  top: 1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.home-mobile .header-link-condesa {
  position: absolute;
  height: 31px;
  top: 0;
  left: 0;
  font-family: var(--menu-mobile-font-family);
  font-weight: var(--menu-mobile-font-weight);
  color: var(--variable-collection-primary-dark);
  font-size: var(--menu-mobile-font-size);
  letter-spacing: var(--menu-mobile-letter-spacing);
  line-height: var(--menu-mobile-line-height);
  white-space: nowrap;
  font-style: var(--menu-mobile-font-style);
}

.home-mobile .overlap-4 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 302px;
}

.home-mobile .hamburger-menu {
  position: absolute;
  width: 35px;
  height: 12px;
  top: 19px;
  left: 8px;
}

.home-mobile .header-button {
  position: absolute;
  width: 35px;
  height: 1px;
  top: 0;
  left: 0;
  background-color: var(--variable-collection-primary-dark);
}

.home-mobile .header-button-2 {
  position: absolute;
  width: 35px;
  height: 1px;
  top: 11px;
  left: 0;
  background-color: var(--variable-collection-primary-dark);
}

.home-mobile .rectangle-3 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: rgba(217, 217, 217, 0.0117647059);
}

.home-mobile .iphone-status-bar {
  position: fixed;
  width: 390px;
  height: 44px;
  top: 0;
  left: 1px;
}

.home-mobile .iphone-status-bar-2 {
  height: 44px;
  background-color: var(--colorsbackgroundslight);
}

.home-mobile .overlap-group-3 {
  position: relative;
  width: 390px;
  height: 33px;
}

.home-mobile .notch {
  position: absolute;
  width: 390px;
  height: 30px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.home-mobile .status-icons {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 16px;
  left: 307px;
}

.home-mobile .network-signal-light {
  position: relative;
  width: 20px;
  height: 14px;
}

.home-mobile .wifi-signal-light {
  position: relative;
  width: 16px;
  height: 14px;
}

.home-mobile .battery-light {
  position: relative;
  width: 25px;
  height: 14px;
}

.home-mobile .time-light {
  position: absolute;
  width: 54px;
  height: 21px;
  top: 12px;
  left: 21px;
}

/*# sourceMappingURL=style.css.map */
