@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:600");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Neue Haas Grotesk Text Pro-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/60570718477be2ef894ed429/fonts/nhaasgrotesktxpro-55rg.ttf") format("truetype");
}
@font-face {
  font-family: "Neue Haas Grotesk Text Pro-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/60570718477be2ef894ed429/fonts/nhaasgrotesktxpro-55rg.ttf") format("truetype");
}
@font-face {
  font-family: "Neue Haas Grotesk Text Pro-55Roman";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/601d5748f1e2d6422d0d0d38/fonts/nhaasgrotesktxpro-55rg.otf") format("opentype");
}
:root {
  --condesa-fluid-white: rgba(244, 241, 224, 1);
  --colorsbackgroundslight: rgba(245, 245, 245, 1);
  --colorsbackgroundsdark: rgba(15, 15, 15, 1);
  --body-copy-font-family: "Inter-SemiBold", Helvetica;
  --body-copy-font-weight: 600;
  --body-copy-font-size: 16px;
  --body-copy-letter-spacing: 0px;
  --body-copy-line-height: 24px;
  --body-copy-font-style: normal;
  --header-2-font-family: "Inter-Black", Helvetica;
  --header-2-font-weight: 900;
  --header-2-font-size: 24px;
  --header-2-letter-spacing: 0px;
  --header-2-line-height: 24px;
  --header-2-font-style: normal;
  --footer-links-font-family: "Inter-Regular", Helvetica;
  --footer-links-font-weight: 400;
  --footer-links-font-size: 14px;
  --footer-links-letter-spacing: 0px;
  --footer-links-line-height: 28px;
  --footer-links-font-style: normal;
  --footer-header-font-family: "Inter-Black", Helvetica;
  --footer-header-font-weight: 900;
  --footer-header-font-size: 16px;
  --footer-header-letter-spacing: 0px;
  --footer-header-line-height: 28px;
  --footer-header-font-style: normal;
  --menu-desktop-font-family: "Inter-SemiBold", Helvetica;
  --menu-desktop-font-weight: 600;
  --menu-desktop-font-size: 40px;
  --menu-desktop-letter-spacing: 0px;
  --menu-desktop-line-height: 24px;
  --menu-desktop-font-style: normal;
  --header-1-desktop-font-family: "AntiqueOlive Compact-Regular", Helvetica;
  --header-1-desktop-font-weight: 400;
  --header-1-desktop-font-size: 319px;
  --header-1-desktop-letter-spacing: -20px;
  --header-1-desktop-line-height: 381.5px;
  --header-1-desktop-font-style: normal;
  --header-1-mobile-font-family: "AntiqueOlive Compact-Regular", Helvetica;
  --header-1-mobile-font-weight: 400;
  --header-1-mobile-font-size: 62px;
  --header-1-mobile-letter-spacing: -3px;
  --header-1-mobile-line-height: 62px;
  --header-1-mobile-font-style: normal;
  --menu-mobile-font-family: "NeueHaas Grotesk Text Pro-55Roman", Helvetica;
  --menu-mobile-font-weight: 400;
  --menu-mobile-font-size: 24px;
  --menu-mobile-letter-spacing: 0px;
  --menu-mobile-line-height: 30.719999313354492px;
  --menu-mobile-font-style: normal;
  --men-punkte-mobile-font-family: "NeueHaas Grotesk Text Pro-55Roman", Helvetica;
  --men-punkte-mobile-font-weight: 400;
  --men-punkte-mobile-font-size: 32px;
  --men-punkte-mobile-letter-spacing: 0px;
  --men-punkte-mobile-line-height: 60.70000076293945px;
  --men-punkte-mobile-font-style: normal;
  --body-mobile-font-family: "NeueHaas Grotesk Text Pro-55Roman", Helvetica;
  --body-mobile-font-weight: 400;
  --body-mobile-font-size: 16px;
  --body-mobile-letter-spacing: 0px;
  --body-mobile-line-height: 20px;
  --body-mobile-font-style: normal;
  --body-link-mobile-font-family: "NeueHaas Grotesk Text Pro-55Roman", Helvetica;
  --body-link-mobile-font-weight: 400;
  --body-link-mobile-font-size: 16px;
  --body-link-mobile-letter-spacing: 0px;
  --body-link-mobile-line-height: 20px;
  --body-link-mobile-font-style: normal;
  --header-2-mobile-font-family: "Inter-SemiBold", Helvetica;
  --header-2-mobile-font-weight: 600;
  --header-2-mobile-font-size: 38px;
  --header-2-mobile-letter-spacing: 0px;
  --header-2-mobile-line-height: 44px;
  --header-2-mobile-font-style: normal;
  --servicepaket-header-2-mobile-font-family: "NeueHaas Grotesk Text Pro-75Bold", Helvetica;
  --servicepaket-header-2-mobile-font-weight: 700;
  --servicepaket-header-2-mobile-font-size: 22px;
  --servicepaket-header-2-mobile-letter-spacing: 0px;
  --servicepaket-header-2-mobile-line-height: 20px;
  --servicepaket-header-2-mobile-font-style: normal;
  --servicepaket-body-mobile-font-family: "NeueHaas Grotesk Text Pro-55Roman", Helvetica;
  --servicepaket-body-mobile-font-weight: 400;
  --servicepaket-body-mobile-font-size: 18px;
  --servicepaket-body-mobile-letter-spacing: 0px;
  --servicepaket-body-mobile-line-height: 20px;
  --servicepaket-body-mobile-font-style: normal;
  --menupunkte-header-desktop-font-family: "Inter-Regular", Helvetica;
  --menupunkte-header-desktop-font-weight: 400;
  --menupunkte-header-desktop-font-size: 30px;
  --menupunkte-header-desktop-letter-spacing: 0px;
  --menupunkte-header-desktop-line-height: 24px;
  --menupunkte-header-desktop-font-style: normal;
  --condesa-fluid-inter-semi-bold-28-84-font-family: "Inter-SemiBold", Helvetica;
  --condesa-fluid-inter-semi-bold-28-84-font-weight: 600;
  --condesa-fluid-inter-semi-bold-28-84-font-size: 28.839841842651367px;
  --condesa-fluid-inter-semi-bold-28-84-letter-spacing: 0px;
  --condesa-fluid-inter-semi-bold-28-84-line-height: 38.54999923706055px;
  --condesa-fluid-inter-semi-bold-28-84-font-style: normal;
  --condesa-fluid-inter-semi-bold-28-71-font-family: "Inter-SemiBold", Helvetica;
  --condesa-fluid-inter-semi-bold-28-71-font-weight: 600;
  --condesa-fluid-inter-semi-bold-28-71-font-size: 28.714452743530273px;
  --condesa-fluid-inter-semi-bold-28-71-letter-spacing: 0px;
  --condesa-fluid-inter-semi-bold-28-71-line-height: 38.54999923706055px;
  --condesa-fluid-inter-semi-bold-28-71-font-style: normal;
  --variable-collection-primary-orange: rgba(235, 80, 39, 1);
  --variable-collection-background: rgba(244, 241, 224, 1);
  --variable-collection-primary-dark: rgba(1, 53, 89, 1);
  --variable-collection-accent-1: rgba(113, 170, 178, 1);
  --variable-collection-accent-2: rgba(158, 185, 192, 1);
  --variable-collection-accent-1-light: rgba(193, 225, 233, 1);
  --variable-collection-accent-orange-dark: rgba(227, 103, 75, 1);
  --variable-collection-accent-orange-mid: rgba(247, 186, 173, 1);
  --variable-collection-accent-orange-light: rgba(247, 186, 173, 0.46);
  --variable-collection-primary-background: rgba(255, 244, 242, 0.46);
  --variable-collection-accent-purple-dark: rgba(80, 71, 139, 1);
  --variable-collection-accent-purple-mid: rgba(128, 113, 217, 1);
  --variable-collection-accent-purple-light: rgba(170, 158, 246, 1);
  --variable-collection-primary-background-1: rgba(250, 245, 244, 1);
}

html {
  font-size: 16px;
  height: 100%;
  box-sizing: content-box;
}

body {
  height: 100%;
  background-color: #faf5f4;
  box-sizing: content-box;
  padding: 40px;
  color: var(--variable-collection-accent-purple-dark, #013559);
}

.content {
  background-color: #faf5f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 100px;
  padding: 40px 0;
  font-family: Neue Haas Grotesk Text Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.72px; /* 128% */
}
.header__link {
  width: 75%;
}
.header__content {
  width: 25%;
}
.header__hamburger-lines {
  outline: none;
  height: 20px;
  width: 15px;
  border: 0px;
  margin-right: 50px;
  background: transparent;
  cursor: pointer;
}
.header__hamburger-lines:before, .header__hamburger-lines:after {
  content: "";
  width: 50px;
  height: 2px;
  position: absolute;
  background: #1a1a1a;
}
.header__hamburger-lines:before {
  transform: translateY(-20px);
}
.header__hamburger-lines:after {
  transform: translateY(-5px);
}

.intro--header {
  color: var(--variable-collection-accent-purple-dark, #013559);
  padding: 40px 0;
  font-family: "AntiqueOlive Compact-Regular", Helvetica;
  font-size: 92px;
  font-style: normal;
  font-weight: 900;
  line-height: 62px; /* 100% */
}
.intro--copy {
  padding: 20px 0;
  font-family: "Neue Haas Grotesk Text Pro-55Roman", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-primary-dark);
  font-size: 30px;
  line-height: 30px;
}

.offer {
  position: relative;
  margin: 40px 0;
}
.offer--img {
  width: 100%;
  height: auto;
}

.overlap--group {
  position: absolute;
  top: 0;
  right: 0;
}
.overlap--group__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 111px;
  height: 111px;
  background-image: url(https://c.animaapp.com/1V8tzb72/img/main---article---section---svg-1.svg);
  background-size: 100% 100%;
}
.overlap--group__label {
  position: absolute;
  width: 71px;
  height: 40px;
  top: 35px;
  left: 20px;
  color: var(--condesa-fluid-white);
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  font-style: normal;
  white-space: nowrap;
}

.btn {
  margin: 20px 0;
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px;
  width: 300px;
  background-color: transparent;
}
.btn span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.7px;
}
.btn:hover {
  animation: rotate 0.7s ease-in-out both;
}
.btn:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
.btn--primary {
  border: 2px solid var(--variable-collection-accent-purple-dark, #013559);
}
.btn--primary span {
  color: var(--variable-collection-accent-purple-dark, #013559);
}
.btn--secondary {
  border: 2px solid var(--variable-collection-primary-orange, #EB5027);
}
.btn--secondary span {
  color: var(--variable-collection-primary-orange, #EB5027);
}
.btn--tertiary {
  border: 2px solid var(--condesa-fluid-white, #F4F1E0);
}
.btn--tertiary span {
  color: var(--condesa-fluid-white, #F4F1E0);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 600px;
  height: auto;
  padding: 40px;
  border-radius: 30px;
  margin: 40px 0;
}
.card--title {
  margin: 20px 0 40px 0;
  width: 100%;
  height: 43.13px;
  color: var(--condesa-fluid-white);
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  display: inline-table;
  word-wrap: break-word;
}
.card--copy {
  color: var(--condesa-fluid-white);
  letter-spacing: 0;
  font-family: Neue Haas Grotesk Text Pro;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  margin: 10px 0;
  word-wrap: break-word;
}
.card--description {
  font-weight: 600;
}
.card__purple {
  background-color: var(--variable-collection-accent-purple-mid);
}
.card__purple--title {
  color: var(--condesa-fluid-white);
}
.card__purple--copy {
  color: var(--condesa-fluid-white);
}
.card__orange {
  background-color: var(--variable-collection-primary-orange);
}
.card__orange--title {
  color: var(--condesa-fluid-white);
}
.card__orange--copy {
  color: var(--condesa-fluid-white);
}
.card__teal {
  background-color: var(--variable-collection-accent-1);
}
.card__teal--title {
  color: var(--variable-collection-accent-purple-dark);
}
.card__teal--copy {
  color: var(--variable-collection-accent-purple-dark);
}
.card__white {
  background-color: #FFF;
}
.card__white--title {
  color: var(--variable-collection-accent-purple-dark);
}
.card__white--copy {
  color: var(--variable-collection-accent-purple-dark);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--variable-collection-accent-purple-dark) !important;
  padding: 40px 40px;
  margin-top: 20px;
  width: calc(100% + 80px);
  margin-left: -40px;
  margin-right: -40px;
  padding: 40px;
}
.footer--title {
  font-family: "Neue Haas Grotesk Text Pro-Bold", Helvetica;
  font-weight: 700;
  font-style: bold;
  color: var(--condesa-fluid-white);
  font-size: 48px;
  line-height: 32px;
  padding: 40px 0;
}
.footer--link {
  font-family: "Neue Haas Grotesk Text Pro-Bold", Helvetica;
  font-weight: 700;
  color: var(--condesa-fluid-white);
  font-size: 32px;
  letter-spacing: 0;
  line-height: 32px;
  padding: 15px 0;
  text-decoration: underline;
}
.footer--link a:link,
.footer--link a:visited {
  color: var(--condesa-fluid-white);
}

.outro--copy {
  padding: 40px 20px;
  font-family: "Neue Haas Grotesk Text Pro-55Roman", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-primary-dark);
  font-size: 1.8rem;
  line-height: 3.2rem;
}

/*# sourceMappingURL=style.css.map */
