@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400;600");
@import url("https://fonts.googleapis.com/css?family=Poppins:400;700;900");
@import url("https://fonts.googleapis.com/css?family=Barlow:900");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

/* Poppins font faces */
@font-face {
  font-family: "Poppins 400";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins 700";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1xlFQ.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins 900";
  font-style: normal;
  font-weight: 900;
  src: local("Poppins Black"), local("Poppins-Black"), url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFQ.ttf) format("truetype");
}
:root {
  --condesa-fluid-white: rgba(244, 241, 224, 1);
  --variable-collection-primary-orange: rgba(235, 80, 39, 1);
  --variable-collection-primary-dark: rgba(1, 53, 89, 1);
  --variable-collection-accent-1: rgba(113, 170, 178, 1);
  --variable-collection-accent-2: rgba(158, 185, 192, 1);
  --variable-collection-accent-orange-dark: rgba(227, 103, 75, 1);
  --variable-collection-accent-orange-mid: rgba(247, 186, 173, 1);
  --variable-collection-accent-purple-dark: rgba(80, 71, 139, 1);
  --variable-collection-accent-purple-mid: rgba(128, 113, 217, 1);
}

html {
  font-size: 16px;
  height: 100%;
  box-sizing: content-box;
}

body {
  height: 100%;
  background-color: #faf5f4;
  box-sizing: content-box;
  padding: 60px;
  color: var(--variable-collection-accent-purple-dark, #013559);
}

.content {
  background-color: #faf5f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 100px;
  padding: 40px 0;
  font-family: "Poppins 400", "Helvetica Neue";
  font-weight: 400;
  font-size: 2.75rem;
  font-style: normal;
}
.header__link {
  width: 75%;
}
.header__content {
  width: 25%;
}
.header__hamburger {
  margin-top: 30px;
}
.header__hamburger-lines {
  outline: none;
  height: 20px;
  width: 15px;
  border: 0px;
  margin-right: 50px;
  background: transparent;
  cursor: pointer;
}
.header__hamburger-lines:before, .header__hamburger-lines:after {
  content: "";
  width: 50px;
  height: 2px;
  position: absolute;
  background: #1a1a1a;
}
.header__hamburger-lines:before {
  transform: translateY(-20px);
}
.header__hamburger-lines:after {
  transform: translateY(-5px);
}

.intro--header {
  color: var(--variable-collection-accent-purple-dark, #013559);
  padding: 40px 0;
  font-family: "Barlow", Helvetica;
  font-size: 10.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
}
.intro--copy {
  padding: 20px 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-primary-dark);
  font-size: 2.3rem;
  line-height: 1.2;
}

.offer {
  position: relative;
  margin: 40px 0;
}
.offer--img {
  width: 100%;
  height: auto;
}

.overlap--group {
  position: absolute;
  top: 0;
  right: 0;
}
.overlap--group__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 111px;
  height: 111px;
  background-image: url(https://c.animaapp.com/1V8tzb72/img/main---article---section---svg-1.svg);
  background-size: 100% 100%;
}
.overlap--group__label {
  position: absolute;
  width: 71px;
  height: 40px;
  top: 35px;
  left: 20px;
  color: var(--condesa-fluid-white);
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  font-style: normal;
  white-space: nowrap;
}

.btn {
  margin: 20px 0;
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 80px;
  width: 340px;
  background-color: transparent;
}
.btn span {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.7px;
  font-family: Inter;
}
.btn:hover {
  animation: rotate 0.7s ease-in-out both;
}
.btn:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
.btn--primary {
  border: 2px solid var(--variable-collection-accent-purple-dark, #013559);
}
.btn--primary span {
  color: var(--variable-collection-accent-purple-dark, #013559);
}
.btn--secondary {
  border: 2px solid var(--variable-collection-primary-orange, #EB5027);
}
.btn--secondary span {
  color: var(--variable-collection-primary-orange, #EB5027);
}
.btn--tertiary {
  border: 2px solid var(--condesa-fluid-white, #F4F1E0);
}
.btn--tertiary span {
  color: var(--condesa-fluid-white, #F4F1E0);
}
.btn--quaternary {
  border: 2px solid var(--variable-collection-accent-1);
}
.btn--quaternary span {
  color: var(--variable-collection-accent-1);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 600px;
  height: auto;
  padding: 40px;
  border-radius: 30px;
  margin: 40px 0;
}
.card--title {
  margin: 20px 0 40px 0;
  width: 100%;
  height: 43.13px;
  color: var(--condesa-fluid-white);
  font-family: "Poppins 400", Helvetica;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  display: inline-table;
  word-wrap: break-word;
}
.card--copy {
  color: var(--condesa-fluid-white);
  font-family: "Poppins 400", Helvetica;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  margin: 10px 0;
  word-wrap: break-word;
}
.card--description {
  font-weight: 600;
}
.card__purple {
  background-color: var(--variable-collection-accent-purple-mid);
}
.card__purple--title {
  color: var(--condesa-fluid-white);
}
.card__purple--copy {
  color: var(--condesa-fluid-white);
}
.card__orange {
  background-color: var(--variable-collection-primary-orange);
}
.card__orange--title {
  color: var(--condesa-fluid-white);
}
.card__orange--copy {
  color: var(--condesa-fluid-white);
}
.card__teal {
  background-color: var(--variable-collection-accent-1);
}
.card__teal--title {
  color: var(--variable-collection-accent-purple-dark);
}
.card__teal--copy {
  color: var(--variable-collection-accent-purple-dark);
}
.card__white {
  background-color: #FFF;
}
.card__white--title {
  color: var(--variable-collection-accent-purple-dark);
}
.card__white--copy {
  color: var(--variable-collection-accent-purple-dark);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--variable-collection-accent-purple-dark) !important;
  padding: 60px;
  margin-top: 20px;
  width: calc(100% + 120px);
  margin-left: -60px;
  margin-right: -60px;
  padding: 60px;
}
.footer--title {
  font-family: "Barlow", Helvetica;
  font-weight: 900;
  font-style: normal;
  color: var(--condesa-fluid-white);
  font-size: 3.5rem;
  line-height: 1;
  padding: 40px 0;
}
.footer--link {
  font-family: "Poppins 400", Helvetica;
  font-weight: 400;
  color: var(--condesa-fluid-white);
  font-size: 2.3rem;
  letter-spacing: 0;
  line-height: 1.2;
  padding: 20px 0;
  text-decoration: underline;
}
.footer--link a:link,
.footer--link a:visited {
  color: var(--condesa-fluid-white);
}

.outro--copy {
  padding: 40px 20px;
  font-family: "Poppins 400", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-primary-dark);
  font-size: 2.3rem;
  line-height: 3.2rem;
}

.form {
  background-color: var(--variable-collection-accent-purple-mid);
  height: 100%;
  min-height: 600px;
  width: 100%;
  border-radius: 30px;
  padding: 40px;
  margin-bottom: 80px;
}
.form--title {
  font-family: "Poppins 400", Helvetica;
  font-weight: 700;
  color: var(--condesa-fluid-white);
  font-size: 4rem;
  line-height: 1.5rem;
  padding: 40px 0;
  margin: 40px 0;
}
.form--subtitle {
  font-family: "Poppins 400", Helvetica;
  font-weight: 600;
  color: var(--condesa-fluid-white);
  font-size: 2rem;
  line-height: 1.5rem;
  padding: 20px 0;
  margin: 20px 0;
}
.form--label {
  font-family: "Poppins 700", Helvetica;
  font-weight: 600;
  color: var(--condesa-fluid-white);
  font-size: 2.3rem;
  line-height: 1.25rem;
}
.form--input {
  width: 100%;
  min-height: 60px;
  height: auto;
  border-radius: 30px;
  border: 2px solid var(--condesa-fluid-white);
  background-color: var(--condesa-fluid-white);
  color: var(--primary-dark);
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 1.25rem;
  padding: 0 20px;
  margin: 20px 0 40px 0;
}
.form--btn {
  color: var(--condesa-fluid-white);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.7px;
  font-family: Inter;
}
.form--radio {
  list-style-type: none;
  padding: 10px 0;
  margin: 10px 0 60px 0;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.form--radio input[type=radio] {
  display: none;
}
.form--radio input[type=radio]:checked + label {
  background-color: var(--variable-collection-primary-orange, #EB5027);
}
.form--radio__label {
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 30px;
  margin: 20px 20px;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  height: 60px;
  width: 300px;
  background-color: transparent;
  border: 2px solid var(--condesa-fluid-white);
}
.form--radio__label:hover {
  background-color: var(--variable-collection-accent-1);
}

.confirmationMessage {
  display: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--condesa-fluid-white);
  z-index: 100;
}
.mobile-menu.active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: underline;
}
.mobile-menu--card {
  margin-top: 20vh;
  width: 90%;
  max-width: 800px;
}
.mobile-menu--link {
  color: var(--condesa-fluid-white);
}
.mobile-menu--btn {
  margin-bottom: 40px;
  width: 80vw;
  height: 100px;
}
.mobile-menu--btn span {
  font-size: 2.7rem;
  text-decoration: none;
}
.mobile-menu .mobile-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.mobile-menu .mobile-menu li {
  margin: 10px 0;
}
.mobile-menu .mobile-menu li a {
  text-decoration: none;
}
.mobile-menu__close {
  position: absolute;
  top: 50px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 40px 80px;
}
.mobile-menu__close-lines {
  position: relative;
  width: 50px;
  height: 50px;
  background: transparent;
}
.mobile-menu__close-lines::before, .mobile-menu__close-lines::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #1a1a1a;
}
.mobile-menu__close-lines::before {
  transform: rotate(45deg);
}
.mobile-menu__close-lines::after {
  transform: rotate(-45deg);
}

.grid-container {
  display: block;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 999px) {
  .grid-container {
    display: block;
    gap: 40px;
  }
  .intro,
  .card {
    width: auto;
  }
}
/* Desktop */
@media screen and (min-width: 1000px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  body {
    font-size: max(16px, 1vw); /* Maximale Schriftgröße für den Haupttext */
  }
  .intro--header, .card--title, .footer--title, .form--title, .mobile-menu--link {
    font-size: max(2rem, 2vw); /* Maximale Schriftgröße für h1 */
  }
  .form--subtitle {
    font-size: max(2rem, 2vw); /* Maximale Schriftgröße für h1 */
  }
  .intro--copy, .card--copy, .footer--link {
    font-size: max(1.8rem, 1.2vw); /* Maximale Schriftgröße für Paragraphen */
  }
  .btn {
    height: 60px;
    width: 200px;
  }
  .btn span {
    font-size: max(1rem, 1.2vw); /* Maximale Schriftgröße für Buttons */
  }
  .form--label, .form--btn {
    font-size: max(1.5rem, 1.2vw); /* Maximale Schriftgröße für Buttons */
  }
  .mobile-menu--btn {
    height: 60px;
    width: 250px;
    margin-bottom: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
