:root {
  --condesa-fluid-white: rgba(244, 241, 224, 1);
  --variable-collection-primary-orange: rgba(235, 80, 39, 1);
  --variable-collection-primary-dark: rgba(1, 53, 89, 1);
  --variable-collection-accent-1: rgba(113, 170, 178, 1);
  --variable-collection-accent-2: rgba(158, 185, 192, 1);
  --variable-collection-accent-orange-dark: rgba(227, 103, 75, 1);
  --variable-collection-accent-orange-mid: rgba(247, 186, 173, 1);
  --variable-collection-accent-purple-dark: rgba(80, 71, 139, 1);
  --variable-collection-accent-purple-mid: rgba(128, 113, 217, 1);
}
