@import "_globals.scss";
@import "_styleguide.scss";

html {
  font-size: 16px;
}

body {
  background-color: #faf5f4;
  box-sizing: content-box;
  padding: 40px;
  color: var(--variable-collection-accent-purple-dark, #013559);
}

.content {
  background-color: #faf5f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 100px;
  padding: 40px 0;
  font-family: Neue Haas Grotesk Text Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.72px; /* 128% */

  &__link {
    width: 75%;
  }

  &__content {
    width: 25%;
  }

  &__hamburger {

  }

  &__hamburger-lines {
    outline: none;
    height: 20px;
    width: 15px;
    border: 0px;
    margin-right: 50px;
    background: transparent;
    cursor: pointer;
  }

  &__hamburger-lines:before,
  &__hamburger-lines:after {
    content: '';
    width: 50px;
    height: 2px;
    position: absolute;
    background: #1a1a1a;
  }

  &__hamburger-lines:before {
    transform: translateY(-20px);
  }

  &__hamburger-lines:after {
    transform: translateY(-5px);
  }
}

.intro {
  &--header {
    color: var(--variable-collection-accent-purple-dark, #013559);
    padding: 40px 0;
    font-family: "AntiqueOlive Compact-Regular", Helvetica;
    font-size: 92px;
    font-style: normal;
    font-weight: 900;
    line-height: 62px; /* 100% */
  }

  &--copy {
    padding: 20px 0;
    font-family: "Neue Haas Grotesk Text Pro-55Roman", Helvetica;
    font-weight: 400;
    color: var(--variable-collection-primary-dark);
    font-size: 30px;
    line-height: 30px;
  }
}

.offer {
  position: relative;
  margin: 40px 0;

  &--img {
    width: 100%;
    height: auto;
  }
}

.overlap {
  &--group {
    position: absolute;
    top: 0;
    right: 0;

    &__wrapper {
      position: absolute;
      right: 0;
      top: 0;
      width: 111px;
      height: 111px;
      background-image: url(https://c.animaapp.com/1V8tzb72/img/main---article---section---svg-1.svg);
      background-size: 100% 100%;
    }

    &__label {
      position: absolute;
      width: 71px;
      height: 40px;
      top: 35px;
      left: 20px;
      color: var(--condesa-fluid-white);
      font-size: 30px;
      line-height: 38px;
      text-align: center;
      font-family: "Inter-SemiBold", Helvetica;
      font-weight: 600;
      font-style: normal;
      white-space: nowrap;
    }
  }
}

.btn {
  margin: 20px 0;
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px;
  width: 300px;
  background-color: transparent;

  span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.7px;
  }

  &:hover {
    animation: rotate 0.7s ease-in-out both;

    span {
      animation: storm 0.7s ease-in-out both;
      animation-delay: 0.06s;
    }
  }

  &--primary {
    border: 2px solid var(--variable-collection-accent-purple-dark, #013559);

    span {
      color: var(--variable-collection-accent-purple-dark, #013559);
    }
  }

  &--secondary {
    border: 2px solid var(--variable-collection-primary-orange, #EB5027);

    span {
      color: var(--variable-collection-primary-orange, #EB5027);
    }
  }

  &--tertiary {
    border: 2px solid var(--condesa-fluid-white, #F4F1E0);

    span {
      color: var(--condesa-fluid-white, #F4F1E0);
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 600px;
  height: auto;
  padding: 40px;
  border-radius: 30px;
  margin: 40px 0;

  &--title {
    margin: 20px 0 40px 0;
    width: 100%;
    height: 43.13px;
    color: var(--condesa-fluid-white);
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    display: inline-table;
    word-wrap: break-word;
  }

  &--copy {
    color: var(--condesa-fluid-white);
    letter-spacing: 0;
    font-family: Neue Haas Grotesk Text Pro;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    margin: 10px 0;
    word-wrap: break-word;
  }

  &--description {
    font-weight: 600;
  }

  &__purple {
    background-color: var(--variable-collection-accent-purple-mid);

    &--title {
      color: var(--condesa-fluid-white);
    }

    &--copy {
      color: var(--condesa-fluid-white);
    }
  }

  &__orange {
    background-color: var(--variable-collection-primary-orange);

    &--title {
      color: var(--condesa-fluid-white);
    }

    &--copy {
      color: var(--condesa-fluid-white);
    }
  }

  &__teal {
    background-color: var(--variable-collection-accent-1);

    &--title {
      color: var(--variable-collection-accent-purple-dark);
    }

    &--copy {
      color: var(--variable-collection-accent-purple-dark);
    }
  }

  &__white {
    background-color: #FFF;

    &--title {
      color: var(--variable-collection-accent-purple-dark);
    }

    &--copy {
      color: var(--variable-collection-accent-purple-dark);
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--variable-collection-accent-purple-dark) !important;
  padding: 40px 40px;
  margin-top: 20px;

  width: calc(100% + 80px);
  margin-left: -40px;
  margin-right: -40px;
  padding: 40px;

  &--title {
    font-family: "Neue Haas Grotesk Text Pro-Bold", Helvetica;
    font-weight: 700;
    font-style: bold;
    color: var(--condesa-fluid-white);
    font-size: 48px;
    line-height: 32px;
    padding: 40px 0;
  }

  &--link {
    font-family: "Neue Haas Grotesk Text Pro-Bold", Helvetica;
    font-weight: 700;
    color: var(--condesa-fluid-white);
    font-size: 32px;
    letter-spacing: 0;
    line-height: 32px;
    padding: 15px 0;
    text-decoration: underline;

    a:link,
    a:visited{
      color: var(--condesa-fluid-white);
    }
  }
}

.outro {

  &--copy {
    padding: 40px 20px;
    font-family: "Neue Haas Grotesk Text Pro-55Roman", Helvetica;
    font-weight: 400;
    color: var(--variable-collection-primary-dark);
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}