@import "_globals.scss";
@import "_styleguide.scss";

html {
  font-size: 16px;
  height: 100%;
  box-sizing: content-box;
}

body {
  height: 100%;
  background-color: #faf5f4;
  box-sizing: content-box;
  padding: 60px;
  color: var(--variable-collection-accent-purple-dark, #013559);
}

.content {
  background-color: #faf5f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 100px;
  padding: 40px 0;
  font-family: "Poppins 400", "Helvetica Neue";
  font-weight: 400;
  font-size: 2.75rem;
  font-style: normal;

  &__link {
    width: 75%;
  }

  &__content {
    width: 25%;
  }

  &__hamburger {
    margin-top: 30px;
  }

  &__hamburger-lines {
    outline: none;
    height: 20px;
    width: 15px;
    border: 0px;
    margin-right: 50px;
    background: transparent;
    cursor: pointer;
  }

  &__hamburger-lines:before,
  &__hamburger-lines:after {
    content: '';
    width: 50px;
    height: 2px;
    position: absolute;
    background: #1a1a1a;
  }

  &__hamburger-lines:before {
    transform: translateY(-20px);
  }

  &__hamburger-lines:after {
    transform: translateY(-5px);
  }
}

.intro {
  &--header {
    color: var(--variable-collection-accent-purple-dark, #013559);
    padding: 40px 0;
    font-family: "Barlow", Helvetica;
    font-size: 10.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
  }

  &--copy {
    padding: 20px 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--variable-collection-primary-dark);
    font-size: 2.3rem;
    line-height: 1.2;
  }
}

.offer {
  position: relative;
  margin: 40px 0;

  &--img {
    width: 100%;
    height: auto;
  }
}

.overlap {
  &--group {
    position: absolute;
    top: 0;
    right: 0;

    &__wrapper {
      position: absolute;
      right: 0;
      top: 0;
      width: 111px;
      height: 111px;
      background-image: url(https://c.animaapp.com/1V8tzb72/img/main---article---section---svg-1.svg);
      background-size: 100% 100%;
    }

    &__label {
      position: absolute;
      width: 71px;
      height: 40px;
      top: 35px;
      left: 20px;
      color: var(--condesa-fluid-white);
      font-size: 30px;
      line-height: 38px;
      text-align: center;
      font-family: "Inter-SemiBold", Helvetica;
      font-weight: 600;
      font-style: normal;
      white-space: nowrap;
    }
  }
}

.btn {
  margin: 20px 0;
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px;
  width: 300px;
  background-color: transparent;

  span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.7px;
    font-family: Inter;
  }

  &:hover {
    animation: rotate 0.7s ease-in-out both;

    span {
      animation: storm 0.7s ease-in-out both;
      animation-delay: 0.06s;
    }
  }

  &--primary {
    border: 2px solid var(--variable-collection-accent-purple-dark, #013559);

    span {
      color: var(--variable-collection-accent-purple-dark, #013559);
    }
  }

  &--secondary {
    border: 2px solid var(--variable-collection-primary-orange, #EB5027);

    span {
      color: var(--variable-collection-primary-orange, #EB5027);
    }
  }

  &--tertiary {
    border: 2px solid var(--condesa-fluid-white, #F4F1E0);

    span {
      color: var(--condesa-fluid-white, #F4F1E0);
    }
  }

  &--quaternary {
    border: 2px solid var(--variable-collection-accent-1);

    span {
      color: var(--variable-collection-accent-1);
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 600px;
  height: auto;
  padding: 40px;
  border-radius: 30px;
  margin: 40px 0;

  &--title {
    margin: 20px 0 40px 0;
    width: 100%;
    height: 43.13px;
    color: var(--condesa-fluid-white);
    font-family: "Poppins 400", Helvetica;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    display: inline-table;
    word-wrap: break-word;
  }

  &--copy {
    color: var(--condesa-fluid-white);
    font-family: "Poppins 400", Helvetica;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    margin: 10px 0;
    word-wrap: break-word;
  }

  &--description {
    font-weight: 600;
  }

  &__purple {
    background-color: var(--variable-collection-accent-purple-mid);

    &--title {
      color: var(--condesa-fluid-white);
    }

    &--copy {
      color: var(--condesa-fluid-white);
    }
  }

  &__orange {
    background-color: var(--variable-collection-primary-orange);

    &--title {
      color: var(--condesa-fluid-white);
    }

    &--copy {
      color: var(--condesa-fluid-white);
    }
  }

  &__teal {
    background-color: var(--variable-collection-accent-1);

    &--title {
      color: var(--variable-collection-accent-purple-dark);
    }

    &--copy {
      color: var(--variable-collection-accent-purple-dark);
    }
  }

  &__white {
    background-color: #FFF;

    &--title {
      color: var(--variable-collection-accent-purple-dark);
    }

    &--copy {
      color: var(--variable-collection-accent-purple-dark);
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--variable-collection-accent-purple-dark) !important;
  padding: 60px;
  margin-top: 20px;

  width: calc(100% + 120px);
  margin-left: -60px;
  margin-right: -60px;
  padding: 60px;

  &--title {
    font-family: "Barlow", Helvetica;
    font-weight: 900;
    font-style: normal;
    color: var(--condesa-fluid-white);
    font-size: 3.5rem;
    line-height: 1;
    padding: 40px 0;
  }

  &--link {
    font-family: "Poppins 400", Helvetica;
    font-weight: 400;
    color: var(--condesa-fluid-white);
    font-size: 2.3rem;
    letter-spacing: 0;
    line-height: 1.2;
    padding: 20px 0;
    text-decoration: underline;

    a:link,
    a:visited{
      color: var(--condesa-fluid-white);
    }
  }
}

.outro {
  &--copy {
    padding: 40px 20px;
    font-family: "Poppins 400", Helvetica;
    font-weight: 400;
    color: var(--variable-collection-primary-dark);
    font-size: 2.3rem;
    line-height: 3.2rem;
  }
}

.form {
  background-color: var(--variable-collection-accent-purple-mid);;
  height: 100%;
  min-height: 600px;
  width: 100%;
  border-radius: 30px;
  padding: 40px;
  margin-bottom: 80px;

  &--title {
    font-family: "Poppins 400", Helvetica;
    font-weight: 700;
    color: var(--condesa-fluid-white);
    font-size: 4rem;
    line-height: 1.5rem;
    padding: 40px 0;
    margin: 40px 0;
  }

  &--subtitle {
    font-family: "Poppins 400", Helvetica;
    font-weight: 600;
    color: var(--condesa-fluid-white);
    font-size: 2rem;
    line-height: 1.5rem;
    padding: 20px 0;
    margin: 20px 0;
  }

  &--label {
    font-family: "Poppins 700", Helvetica;
    font-weight: 600;
    color: var(--condesa-fluid-white);
    font-size: 2.3rem;
    line-height: 1.25rem;
  }

  &--input {
    width: 100%;
    min-height: 60px;
    height: auto;
    border-radius: 30px;
    border: 2px solid var(--condesa-fluid-white);
    background-color: var(--condesa-fluid-white);
    color: var(--primary-dark);
    font-family: "Inter", Helvetica;
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 1.25rem;
    padding: 0 20px;
    margin: 20px 0 40px 0;
  }

  &--btn {
    color: var(--condesa-fluid-white);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.7px;
    font-family: Inter;
  }

  &--radio {
    list-style-type: none;
    padding: 10px 0;
    margin: 10px 0 60px 0;
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked + label {
      background-color: var(--variable-collection-primary-orange, #EB5027);
    }

    &__label {
      cursor: pointer;
      transition: background-color 0.3s ease;
      padding: 10px 30px;
      margin: 20px 20px;
      outline: none;
      text-decoration: none;
      border-radius: 50px;
      height: 60px;
      width: 300px;
      background-color: transparent;
      border: 2px solid var(--condesa-fluid-white);

      &:hover {
        background-color: var(--variable-collection-accent-1);
      }
    }
  }
}

.confirmationMessage {
  display: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--condesa-fluid-white);
  z-index: 100;

  &.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: underline;
  }

  &--card {
    margin-top: 20vh;
    width: 90%;
    max-width: 800px;
  }

  &--link {
    color: var(--condesa-fluid-white);
  }

  &--btn {
    margin-bottom: 40px;
    width: 80vw;
    height: 100px;

    span {
      font-size: 2.7rem;
      text-decoration: none;
    }
  }

  .mobile-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .mobile-menu li {
    margin: 10px 0;
  }

  .mobile-menu li a {
    text-decoration: none;
  }

  &__close {
    position: absolute;
    top: 50px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 40px 80px;
  }

  &__close-lines {
    position: relative;
    width: 50px;
    height: 50px;
    background: transparent;
  }

  &__close-lines::before,
  &__close-lines::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #1a1a1a;
  }

  &__close-lines::before {
    transform: rotate(45deg);
  }

  &__close-lines::after {
    transform: rotate(-45deg);
  }
}
